/* images from https://www.toptal.com/designers/subtlepatterns */

.card {
    background-image: url("blue-snow.png");
}
.nav {
    font-size: x-large;
    color: lightblue;
}

body {
    background-image: url("dark-grey-terrazzo.png");
}

.btn-outline-primary:hover {
    background-color: #fff;
    color:  #007bff;
}
