/* images from https://www.toptal.com/designers/subtlepatterns */

.card {
    /* background-image: url("blue-snow.png"); */
    background-color: lightgray;
}
.nav {
    font-size: x-large;
    /* color: lightblue; */
}

a {
    color: rgb(0, 47, 134);
}

body {
    background-image: url("brickwall_@2x.png");
    /* background-color: gray; */
}

.btn-outline-dark:hover {
    background-color: #fff;
    color:  black;
}

@media screen and (max-width: 374px) {
    .nav {
        font-size: large;
    }
}
